@import "../common/var";
@import "../mixins/mixins";

@include b(date-table) {
  font-size: 12px;
  user-select: none;

  @include when(week-mode) {
    .el-date-table__row {
      &:hover {
        div {
          @include themify($themes) {
            background-color: themed('datepicker-inrange-color');
          }
        }
        td.available:hover {
          @include themify($themes) {
            color: themed('datepicker-color');
          }
        }
        td:first-child div {
          margin-left: 5px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
        td:last-child div {
          margin-right: 5px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }

      &.current div {
        @include themify($themes) {
          background-color: themed('datepicker-inrange-color');
        }
      }
    }
  }

  td {
    width: 32px;
    height: 30px;
    padding: 4px 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;

    & div {
      height: 30px;
      padding: 3px 0;
      box-sizing: border-box;
    }

    & span {
      width: 24px;
      height: 24px;
      display: block;
      margin: 0 auto;
      line-height: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &.next-month,
    &.prev-month {
      @include themify($themes) {
        color: themed('datepicker-off-color');
      }
    }

    &.available:hover {
      @include themify($themes) {
        background-color: themed('background-color-secondary');
      }
    }

    &.in-range div {
      @include themify($themes) {
        background-color: themed('datepicker-inrange-color');
      }
      &:hover {
        @include themify($themes) {
          background-color: themed('datepicker-inrange-hover-color');
        }
      }
    }

    &.current:not(.disabled) {
      span {
        @include themify($themes) {
          color: themed('color-text-primary');
          border-bottom: 2px solid themed('datepicker-active-color');
        }
      }

      &.today span {
        @include themify($themes) {
          color: themed('color-primary');
        }
      }
    }
    &.start-date div,
    &.end-date div {
      @include themify($themes) {
        color: themed('color-text-primary');
      }
    }

    &.start-date span,
    &.end-date span {
      @include themify($themes) {
        background-color: themed('datepicker-active-color');
      }
    }

    &.start-date div {
      margin-left: 5px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      > span {
        border-radius: 50%;
        @include themify($themes) {
          color: themed('datepicker-cell-hover-color');
          background-color: themed('datepicker-active-color');
        }
      }
    }

    &.end-date div {
      margin-right: 5px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;

      > span {
        border-radius: 50%;
        @include themify($themes) {
          color: themed('datepicker-cell-hover-color');
          background-color: themed('datepicker-active-color');
        }
      }
    }

    &.disabled div {
      @include themify($themes) {
        background-color: themed('background-color');
        color: themed('color-text-placeholder');
      }
      opacity: 1;
      cursor: not-allowed;
    }

    &.selected div {
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 15px;
      @include themify($themes) {
        background-color: themed('datepicker-inrange-color');
      }
      &:hover {
        @include themify($themes) {
          background-color: themed('datepicker-inrange-hover-color');
        }
      }
    }

    &.selected span {
      @include themify($themes) {
        background-color: themed('datepicker-active-color');
        color: themed('color-text-primary');
      }
      border-radius: 15px;
    }

    &.week {
      font-size: 80%;
      @include themify($themes) {
        color: themed('datepicker-header-color');
      }
    }

    &.today {
      position: relative;
      span {
        @include themify($themes) {
          color: themed('color-primary');
        }
        font-weight: bold;
      }
      // &.start-date span,
      // &.end-date span {
      //   @include themify($themes) {
      //     color: themed('color-text-primary');
      //   }
      // }
    }
  }

  th {
    padding: 5px;
    font-weight: 400;
    @include themify($themes) {
      color: themed('datepicker-header-color');
    }
    // border-bottom: solid 1px $--border-color-lighter;
  }
}
