@import "../common/var";

@include b(month-table) {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;

  td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer;

    &.disabled .cell {
      cursor: not-allowed;

      @include themify($themes) {
        background-color: themed('background-color');
        color: themed('color-text-placeholder');
      }

      &:hover {
        @include themify($themes) {
          background-color: themed('background-color');
          color: themed('color-text-placeholder');
        }
      }
    }

    .cell {
      width: 48px;
      height: 32px;
      display: block;
      line-height: 32px;
      margin: 0 auto;

      @include themify($themes) {
        color: themed('color-text-primary');
      }

      &:hover {
        @include themify($themes) {
          background-color: themed('background-color-secondary');
        }
      }
    }

    &.current:not(.disabled) .cell {
      @include themify($themes) {
        color: themed('color-text-primary');
        border-bottom: 2px solid themed('datepicker-active-color');
      }
    }
  }
}
