@import "../common/var";

@include b(picker-panel) {
  border-radius: $--border-radius-base;
  line-height: 30px;
  margin: 5px 0;

  @include themify($themes) {
    color: themed('color-text-primary');
    background-color: themed('background-color');
    border: 1px solid themed('datepicker-border-color');
    box-shadow: themed('box-shadow-light');
  }

  @include e((body, body-wrapper)) {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @include e(content) {
    position: relative;
    margin: 15px;
  }

  @include e(footer) {
    padding: 4px;
    text-align: right;
    position: relative;
    font-size: 0;

    @include themify($themes) {
      border-top: 1px solid themed('datepicker-inner-border-color');
      background-color: themed('background-color');
    }
  }

  @include e(shortcut) {
    display: block;
    width: 100%;
    border: 0;
    background-color: transparent;
    line-height: 28px;
    font-size: 14px;
    padding-left: 12px;
    text-align: left;
    outline: none;
    cursor: pointer;

    @include themify($themes) {
      color: themed('datepicker-color');
      background-color: transparent;
    }

    &:hover {
      @include themify($themes) {
        color: themed('datepicker-text-hover-color');
      }
    }

    &.active {
      @include themify($themes) {
        color: themed('datepicker-active-color');
      }
    }
  }

  @include e(btn) {
    line-height: 24px;
    border-radius: 2px;
    padding: 0 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-size: 12px;

    @include themify($themes) {
      color: themed('color-text-primary');
      border: 1px solid themed('datepicker-inner-border-color');
      background-color: transparent;
    }

    &[disabled] {
      @include themify($themes) {
        color: themed('disabled-color-base');
      }
      cursor: not-allowed;
    }
  }

  @include e(icon-btn) {
    font-size: 12px;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-top: 8px;

    @include themify($themes) {
      color: themed('datepicker-icon-color');
      background: transparent;
    }

    &:hover {
      @include themify($themes) {
        color: themed('datepicker-text-hover-color');
      }
    }

    @include when(disabled) {
      @include themify($themes) {
        color: themed('font-color-disabled-base');
      }

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @include e(link-btn) {
    vertical-align: middle;
  }
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  box-sizing: border-box;
  padding-top: 6px;
  overflow: auto;

  @include themify($themes) {
    background-color: themed('background-color');
    border-right: 1px solid themed('datepicker-inner-border-color');
  }
}

.el-picker-panel *[slot=sidebar] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}
