@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: $--border-base;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include themify($themes) {
    background: themed('button-default-fill');
    border-color: themed('button-default-border');
    color: themed('button-default-color');
  }
  @include utils-user-select(none);
  & + & {
    margin-left: 10px;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus {
    @include themify($themes) {
      color: themed('button-default-color-hover');
      border-color: themed('color-text-primary');
      background-color: themed('color-text-primary');
    }
  }

  &:active {
    @include themify($themes) {
      color: themed('button-default-color-hover');
      border-color: mix($--color-black, themed('button-default-border'), $--button-active-shade-percent);
    }
    outline: none;
    opacity: 0.7;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
      background: $--color-white;
      @include themify($themes) {
        color: themed('color-primary');
        border-color: themed('color-primary');
      }
    }

    &:active {
      background: $--color-white;
      @include themify($themes) {
        border-color: mix($--color-black, themed('color-primary'), $--button-active-shade-percent);
        color: mix($--color-black, themed('color-primary'), $--button-active-shade-percent);
      }
      outline: none;
    }
  }

  @include when(active) {
    @include themify($themes) {
      color: mix($--color-black, themed('color-primary'), $--button-active-shade-percent);
      border-color: mix($--color-black, themed('color-primary'), $--button-active-shade-percent);
    }
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus,
    &:active {
      @include themify($themes) {
        color: themed('button-disabled-color');
        border-color: themed('button-disabled-border');
        background-color: themed('button-disabled-fill');
      }
      opacity: 1;
      cursor: not-allowed;
      background-image: none;
    }

    &.el-button--text {
      @include themify($themes) {
        background-color: transparent;
      }
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        @include themify($themes) {
          color: themed('button-disabled-color');
          border-color: themed('button-disabled-border');
        }
        background-color: $--color-white;
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }
  @include m(primary) {
    @include themify($themes) {
      @include button-variant(themed('button-primary-color'), themed('button-primary-fill'), themed('button-primary-border'));
    }
  }
  @include m(success) {
    @include themify($themes) {
      @include button-variant(themed('button-success-color'), themed('button-success-fill'), themed('button-success-border'));
    }
  }
  @include m(warning) {
    @include themify($themes) {
      @include button-variant(themed('button-warning-color'), themed('button-warning-fill'), themed('button-warning-border'));
    }
  }
  @include m(danger) {
    @include themify($themes) {
      @include button-variant(themed('button-danger-color'), themed('button-danger-fill'), themed('button-danger-border'));
    }
  }
  @include m(info) {
    @include button-variant($--button-info-color, $--button-info-fill, $--button-info-border);
  }
  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }
  @include m(text) {
    @include themify($themes) {
      color: themed('color-text-regular');
      border-color: transparent;
      background: transparent;
      border-bottom: 1px dashed themed('border-color-base');
    }
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2px;

    &:hover,
    &:focus {
      @include themify($themes) {
        color: themed('color-text-primary');
        border-color: transparent;
        background-color: transparent;
        border-bottom: 1px solid themed('color-primary');
      }
    }
    &:active {
      @include themify($themes) {
        color: themed('color-text-secondary');
        border-color: transparent;
        background-color: transparent;
        border-bottom: 1px solid themed('color-primary');
      }
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .el-button {
    float: left;
    position: relative;
    & + .el-button {
      margin-left: 0;
    }
    &.is-disabled {
      z-index: 1;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  & > .el-dropdown {
    & > .el-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: rgba($--color-white, 0.5);
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}
