@import "common/var";
@import "mixins/mixins";
@import "mixins/_button";
@import "mixins/utils";

@include b(checkbox) {
  font-weight: $--checkbox-font-weight;
  font-size: $--font-size-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;

  @include themify($themes) {
    color: themed('checkbox-color');
  }

  @include when(bordered) {
    padding: $--checkbox-bordered-padding;
    border-radius: $--border-radius-base;
    box-sizing: border-box;
    line-height: normal;
    height: $--checkbox-bordered-height;

    @include themify($themes) {
      border: themed('border-base');
    }

    &.is-checked {
      @include themify($themes) {
        border-color: themed('color-primary');
      }
    }

    &.is-disabled {
      @include themify($themes) {
        border-color: themed('border-color-lighter');
      }
      cursor: not-allowed;
    }

    & + .el-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.el-checkbox--medium {
      padding: $--checkbox-bordered-medium-padding;
      border-radius: $--button-medium-border-radius;
      height: $--checkbox-bordered-medium-height;

      .el-checkbox__label {
        line-height: 17px;
        font-size: $--button-medium-font-size;
      }

      .el-checkbox__inner {
        height: $--checkbox-bordered-medium-input-height;
        width: $--checkbox-bordered-medium-input-width;
      }
    }

    &.el-checkbox--small {
      padding: $--checkbox-bordered-small-padding;
      border-radius: $--button-small-border-radius;
      height: $--checkbox-bordered-small-height;

      .el-checkbox__label {
        line-height: 15px;
        font-size: $--button-small-font-size;
      }

      .el-checkbox__inner {
        height: $--checkbox-bordered-small-input-height;
        width: $--checkbox-bordered-small-input-width;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }

    &.el-checkbox--mini {
      padding: $--checkbox-bordered-mini-padding;
      border-radius: $--button-mini-border-radius;
      height: $--checkbox-bordered-mini-height;

      .el-checkbox__label {
        line-height: 12px;
        font-size: $--button-mini-font-size;
      }

      .el-checkbox__inner {
        height: $--checkbox-bordered-mini-input-height;
        width: $--checkbox-bordered-mini-input-width;
        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .el-checkbox__inner {
        cursor: not-allowed;

        @include themify($themes) {
          background-color: themed('checkbox-disabled-input-fill');
          border-color: themed('checkbox-disabled-input-border-color');
        }

        &::after {
          cursor: not-allowed;
          @include themify($themes) {
            border-color: themed('checkbox-disabled-icon-color');
          }
        }

        &:hover {
          @include themify($themes) {
            border-color: themed('checkbox-disabled-input-border-color');
          }
        }

        & + .el-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .el-checkbox__inner {
          @include themify($themes) {
            background-color: themed('checkbox-disabled-checked-input-fill');
            border-color: themed('checkbox-disabled-checked-input-fill');
          }

          &::after {
            @include themify($themes) {
              border-color: themed('checkbox-disabled-checked-icon-color');
            }
          }

          &:hover {
            @include themify($themes) {
              border-color: themed('checkbox-disabled-checked-input-fill');
            }
          }
        }
      }

      &.is-indeterminate {
        .el-checkbox__inner {
          @include themify($themes) {
            background-color: themed('checkbox-disabled-checked-input-fill');
            border-color: themed('checkbox-disabled-checked-input-fill');
          }

          &::before {
            @include themify($themes) {
              background-color: themed('checkbox-disabled-checked-icon-color');
              border-color: themed('checkbox-disabled-checked-icon-color');
            }
          }

          &:hover {
            @include themify($themes) {
              border-color: themed('checkbox-disabled-checked-input-fill');
            }
          }
        }
      }

      & + span.el-checkbox__label {
        @include themify($themes) {
          color: themed('disabled-color-base');
        }
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-checkbox__inner {
        @include themify($themes) {
          background-color: themed('checkbox-checked-input-fill');
          border-color: themed('checkbox-checked-input-fill');
        }

        &::after {
          transform: rotate(45deg) scaleY(1);
        }

        &:hover {
          @include themify($themes) {
            border-color: themed('checkbox-checked-input-fill');
          }
        }
      }

      & + .el-checkbox__label {
        @include themify($themes) {
          color: themed('checkbox-checked-text-color');
        }
      }
    }
    @include when(focus) { /*focus时 视觉上区分*/
      .el-checkbox__inner {
        @include themify($themes) {
          border-color: themed('checkbox-input-border-color-hover');
        }
      }
    }
    @include when(indeterminate) {
      .el-checkbox__inner {
        @include themify($themes) {
          background-color: themed('checkbox-checked-input-fill');
          border-color: themed('checkbox-checked-input-fill');
        }

        &::before {
          content: '';
          position: absolute;
          display: block;
          height: 4px;
          transform: scale(0.5);
          left: 0;
          right: 0;
          top: 4px;

          @include themify($themes) {
            background-color: themed('checkbox-checked-icon-color');
          }
        }

        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    display: inline-block;
    position: relative;
    border-radius: $--checkbox-input-border-radius;
    box-sizing: border-box;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    z-index: $--index-normal;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),
    background-color .25s cubic-bezier(.71,-.46,.29,1.46);

    @include themify($themes) {
      border: themed('checkbox-input-border');
      background-color: themed('checkbox-input-fill');
    }

    &:hover {
      @include themify($themes) {
        border-color: themed('checkbox-input-border-color-hover');
      }
    }

    &::after {
      box-sizing: content-box;
      content: "";
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform .15s ease-in .05s;
      transform-origin: center;

      @include themify($themes) {
        border: 2px solid themed('checkbox-checked-icon-color');
        border-left: 0;
        border-top: 0;
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: $--checkbox-font-size;
  }

  & + .el-checkbox {
    margin-left: 30px;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    font-weight: $--checkbox-font-weight;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-left: 0;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    transition: $--all-transition;
    @include themify($themes) {
      background: themed('button-default-fill');
      border: themed('border-base');
      color: themed('button-default-color');
    }

    @include utils-user-select(none);

    @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, 0);

    &:hover {
      @include themify($themes) {
        color: themed('color-primary');
      }
    }

    & [class*="el-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    z-index: -1;
  }

  &.is-checked {
    & .el-checkbox-button__inner {
      @include themify($themes) {
        color: themed('checkbox-button-checked-color');
        background-color: themed('checkbox-button-checked-fill');
        border-color: themed('checkbox-button-checked-border-color');
        box-shadow: -1px 0 0 0 themed('color-primary-light-4');
      }
    }
    &:first-child .el-checkbox-button__inner {
      @include themify($themes) {
        border-left-color: themed('checkbox-button-checked-border-color');
      }
    }
  }

  &.is-disabled {
    & .el-checkbox-button__inner {
      cursor: not-allowed;

      @include themify($themes) {
        color: themed('button-disabled-color');
        background-image: none;
        background-color: themed('button-disabled-fill');
        border-color: themed('button-disabled-border');
        box-shadow: none;
      }
    }
    &:first-child .el-checkbox-button__inner {
      @include themify($themes) {
        border-left-color: themed('button-disabled-border');
      }
    }
  }

  &:first-child {
    .el-checkbox-button__inner {
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;

      @include themify($themes) {
        border-left: themed('border-base');
      }
    }
  }

  &.is-focus {
    & .el-checkbox-button__inner {
      @include themify($themes) {
        border-color: themed('checkbox-button-checked-border-color');
      }
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }
  @include m(medium) {
    .el-checkbox-button__inner {
      @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, 0);
    }
  }
  @include m(small) {
    .el-checkbox-button__inner {
      @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, 0);
    }
  }
  @include m(mini) {
    .el-checkbox-button__inner {
      @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, 0);
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}
