@import "mixins/mixins";
@import "common/var";
@import "common/transition";

@include b(collapse) {
  @include themify($themes) {
    border-top: 1px solid themed('collapse-border-color');
    border-bottom: 1px solid themed('collapse-border-color');
  }

  &[no-lines] {
    border: 0 !important;

    .el-collapse-item__header,
    .el-collapse-item__wrap {
      border: 0 !important;
    }
  }
}
@include b(collapse-item) {
  @include e(header) {
    display: flex;
    align-items: center;
    height: $--collapse-header-height;
    line-height: $--collapse-header-height;
    cursor: pointer;
    font-size: $--collapse-header-size;
    font-weight: 500;
    transition: border-bottom-color .3s;
    outline: none;
    padding-left: 8px;

    @include themify($themes) {
      background-color: themed('collapse-header-fill');
      color: themed('collapse-header-color');
      border-bottom: 1px solid themed('collapse-border-color');
    }

    @include e(arrow) {
      margin: 0 8px 0 auto;
      transition: transform .3s;
      font-weight: 300;
      transform: rotate(90deg);
      @include when(active) {
        transform: rotate(-90deg);
      }
    }
    &.focusing:focus:not(:hover){
      @include themify($themes) {
        color: themed('color-primary');
      }
    }
    @include when(active) {
      @include themify($themes) {
        border-bottom-color: transparent;
      }
    }
  }

  @include e(wrap) {
    will-change: height;
    overflow: hidden;
    box-sizing: border-box;

    @include themify($themes) {
      background-color: themed('collapse-content-fill');
      border-bottom: 1px solid themed('collapse-border-color');
    }
  }

  @include e(content) {
    padding-left: 14px;
    padding-bottom: 25px;
    font-size: $--collapse-content-size;
    line-height: 1.769230769230769;
    @include themify($themes) {
      color: themed('collapse-content-color');
    }
  }

  &:last-child {
    margin-bottom: -1px;
  }
}
