@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "common/transition";

@mixin menu-item {
  height: 37px;
  line-height: 37px;
  font-size: $--menu-item-font-size;
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;

  @include themify($themes) {
    color: themed('menu-item-color');
  }

  * {
    vertical-align: middle;
  }

  i {
    @include themify($themes) {
      color: themed('color-text-primary');
    }
  }

  &:hover,
  &:focus {
    outline: none;
    @include themify($themes) {
      color: themed('menu-item-hover-fill');
    }
  }

  @include when(disabled) {
    opacity: 0.25;
    cursor: not-allowed;
    background: none !important;
  }
}

@include b(menu) {
  // border-right: solid 1px #e6e6e6;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  @include themify($themes) {
    background-color: themed('menu-item-fill');
  }
  @include utils-clearfix;
  // &.el-menu--horizontal {
  //   border-bottom: solid 1px #e6e6e6;
  // }

  @include m(horizontal) {
    border-right: none;
    & > .el-menu-item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      border-bottom: 2px solid transparent;
      @include themify($themes) {
        color: themed('color-text-primary');
      }

      a,
      a:hover {
        color: inherit;
      }

      &:not(.is-disabled):hover,
      &:not(.is-disabled):focus{
        @include themify($themes) {
          background-color: themed('background-color');
        }
      }
    }
    & > .el-submenu {
      float: left;

      &:focus,
      &:hover {
        outline: none;
        .el-submenu__title {
          @include themify($themes) {
            color: themed('color-text-primary');
          }
        }
      }

      &.is-active {
        .el-submenu__title {
          @include themify($themes) {
            border-bottom: 2px solid themed('color-primary');
            color: themed('color-text-primary');
          }
        }
      }

      & .el-submenu__title {
        height: 60px;
        line-height: 60px;
        @include themify($themes) {
          border-bottom: 2px solid transparent;
          color: themed('color-text-primary');
        }

        &:hover {
          @include themify($themes) {
            background-color: themed('background-color');
          }
        }
      }
      & .el-submenu__icon-arrow {
        position: static;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -3px;
      }
    }
    & .el-menu {
      & .el-menu-item,
      & .el-submenu__title {
        float: none;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        @include themify($themes) {
          background-color: themed('background-color');
          color: themed('color-text-primary');
        }
      }
      & .el-menu-item.is-active,
      & .el-submenu.is-active > .el-submenu__title {
        @include themify($themes) {
          color: themed('color-text-primary');
        }
      }
    }
    & .el-menu-item:not(.is-disabled):hover,
    & .el-menu-item:not(.is-disabled):focus {
      outline: none;
      @include themify($themes) {
        color: themed('color-text-primary');
      }
    }
    & > .el-menu-item.is-active {
      @include themify($themes) {
        border-bottom: 2px solid themed('color-primary');
        color: themed('color-text-primary');
      }
    }
  }
  @include m(collapse) {
    width: 64px;

    > .el-menu-item,
    > .el-submenu > .el-submenu__title {
      [class^="el-icon-"] {
        margin: 0;
        vertical-align: middle;
        width: 24px;
        text-align: center;
      }
      .el-submenu__icon-arrow {
        display: none;
      }
      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        display: inline-block;
      }
    }

    > .el-menu-item.is-active i {
      color: inherit;
    }

    .el-menu .el-submenu {
      min-width: 200px;
    }

    .el-submenu {
      position: relative;
      & .el-menu {
        position: absolute;
        margin-left: 5px;
        top: 0;
        left: 100%;
        z-index: 10;
        border-radius: $--border-radius-small;


        @include themify($themes) {
          border: 1px solid themed('border-color-base');
          box-shadow: themed('box-shadow-light');
        }
      }

      &.is-opened {
        > .el-submenu__title .el-submenu__icon-arrow {
          transform: none;
        }
      }
    }
  }
  @include m(popup) {
    z-index: 100;
    min-width: 200px;
    border: none;
    padding: 5px 0;
    border-radius: $--border-radius-small;
    @include themify($themes) {
      box-shadow: themed('box-shadow-light');
    }

    &-bottom-start {
      margin-top: 5px;
    }
    &-right-start {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
@include b(menu-item) {
  @include menu-item;

  & [class^="el-icon-"] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
  }
  @include when(active) {
    @include themify($themes) {
      color: themed('color-text-primary');
      background-color: themed('color-primary');
    }
    i {
      color: inherit;
    }
  }
}

@include b(submenu) {
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include e(title) {
    @include menu-item;

    &:hover {
      @include themify($themes) {
        color: themed('menu-item-hover-fill');
      }
    }

    > div:first-child:before {
      position: absolute;
      top: 50%;
      margin-top: -7px;
      margin-left: -20px;
      transition: transform .3s;
      font-size: 12px;
      content: "\E603";
      font-family: 'element-icons' !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      transform: rotate(-90deg);
    }
  }
  & .el-menu {
    border: none;
  }
  & .el-menu-item {
    height: 37px;
    line-height: 37px;
    padding: 0 45px;
    min-width: 200px;
  }
  @include e(icon-arrow) {
    display: none !important;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    transition: transform .3s;
    font-size: 12px;
  }
  @include when(active) {
    .el-submenu__title {

      @include themify($themes) {
        border-bottom-color: themed('color-primary');
      }
    }

    > .el-submenu__title {
      @include themify($themes) {
        color: themed('menu-item-hover-fill');
      }
    }
  }
  @include when(opened) {
    > .el-submenu__title .el-submenu__icon-arrow {
      transform: rotate(180deg);
    }
    > .el-submenu__title > div:first-child:before {
      transform: rotate(0);
    }
  }
  @include when(disabled) {
    .el-submenu__title,
    .el-menu-item {
      opacity: 0.25;
      cursor: not-allowed;
      background: none !important;
    }
  }
  [class^="el-icon-"] {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }
}

@include b(menu-item-group) {
  > ul {
    padding: 0;
  }
  @include e(title) {
    padding: 7px 0 7px 20px;
    line-height: normal;
    font-size: 12px;
    @include themify($themes) {
      color: themed('color-text-primary');
    }
  }
}

.horizontal-collapse-transition .el-submenu__title .el-submenu__icon-arrow {
  transition: .2s;
  opacity: 0;
}
