@import "mixins/mixins";
@import "common/var";

@include b(select-dropdown) {
  @include e(item) {
    font-size: $--select-font-size;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $--select-option-height;
    line-height: $--select-option-height;
    box-sizing: border-box;
    cursor: pointer;

    @include themify($themes) {
      color: themed('select-option-color');
    }

    @include when(disabled) {
      cursor: not-allowed;

      @include themify($themes) {
        color: themed('select-option-disabled-color');
      }

      &:hover {
        background-color: transparent;
      }
    }

    &.selected {
      @include themify($themes) {
        color: themed('select-option-selected');
      }
      font-weight: bold;
    }

    &.hover, &:hover {
      @include themify($themes) {
        background-color: themed('select-option-hover-background');
        color: themed('dropdown-menuItem-hover-color');
      }
    }
  }
}
