@import "mixins/mixins";
@import "common/var";
@import "./popper";

@include b(popover) {
  position: absolute;
  min-width: 150px;
  border-radius: 4px;
  padding: $--popover-padding;
  z-index: $--index-popper;
  line-height: 1.4;
  text-align: justify;
  font-size: $--popover-font-size;

  @include themify($themes) {
    border: 1px solid themed('popover-border-color');
    color: themed('color-text-primary');
    box-shadow: themed('box-shadow-light');
    background: themed('popover-fill');
  }

  @include m(plain) {
    padding: $--popover-padding-large;
  }

  @include e(title) {
    font-size: $--popover-title-font-size;
    line-height: 1;
    margin-bottom: 12px;
    @include themify($themes) {
      color: themed('popover-title-color');
    }
  }

  @include e(reference) {
    &:focus:not(.focusing), &:focus:hover {
      outline-width: 0;
    }
  }

  &:focus:active, &:focus {
    outline-width: 0;
  }
}
