@import "mixins/mixins";
@import "common/var";
@import "./popper";

@include b(select-dropdown) {
  position: absolute;
  z-index: #{$--index-top + 1};
  border-radius: $--border-radius-base;
  box-sizing: border-box;
  margin: 5px 0;

  @include themify($themes) {
    border: themed('select-dropdown-border');
    background-color: themed('select-dropdown-background');
    box-shadow: themed('select-dropdown-shadow');
  }

  @include when(multiple) {
    & .el-select-dropdown__item.selected {
      @include themify($themes) {
        color: themed('select-option-selected');
        background-color: themed('select-dropdown-background');
      }

      &.hover {
        @include themify($themes) {
          color: themed('dropdown-menuItem-hover-color');
          background-color: themed('select-option-hover-background');
        }
      }

      &::after {
        position: absolute;
        right: 20px;
        font-family: 'element-icons';
        content: "\E611";
        font-size: 12px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }

  .el-scrollbar.is-empty .el-select-dropdown__list{
    padding: 0;
  }
}

@include b(select-dropdown__empty) {
  padding: $--select-dropdown-empty-padding;
  margin: 0;
  text-align: center;
  font-size: $--select-font-size;

  @include themify($themes) {
    color: themed('select-dropdown-empty-color');
  }
}

@include b(select-dropdown__wrap) {
  max-height: $--select-dropdown-max-height;
}

@include b(select-dropdown__list) {
  list-style: none;
  padding: $--select-dropdown-padding;
  margin: 0;
  box-sizing: border-box;
}
