@import "mixins/mixins";
@import "checkbox";
@import "tag";
@import "common/var";

@include b(table-column) {
  @include m(selection) {
    .cell {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

@include b(table-filter) {
  @include themify($themes) {
    border: solid 1px themed('border-color-base');
    background-color: themed('background-color');
    box-shadow: themed('dropdown-menu-box-shadow');
  }
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px 0;

  /** used for dropdown mode */
  @include e(list) {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
  }

  @include e(list-item) {
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    font-size: $--font-size-base;

    &:hover {
      @include themify($themes) {
        background-color: themed('dropdown-menuItem-hover-fill');
        color: themed('dropdown-menuItem-hover-color');
      }
    }

    @include when(active) {
      @include themify($themes) {
        background-color: themed('color-primary');
        color: themed('color-text-primary');
      }
    }
  }

  @include e(content) {
    min-width: 100px;
  }

  @include e(bottom) {
    @include themify($themes) {
      border-top: 1px solid themed('border-color-base');
    }
    padding: 8px;

    button {
      cursor: pointer;
      font-size: $--font-size-small;
      padding: 0 3px;

      @include themify($themes) {
        background: transparent;
        border: none;
        color: themed('color-text-regular');
      }

      &:hover {
        @include themify($themes) {
          color: themed('color-primary');
        }
      }

      &:focus {
        outline: none;
      }

      &.is-disabled {
        @include themify($themes) {
          color: themed('disabled-color-base');
        }
        cursor: not-allowed;
      }
    }
  }

  @include e(wrap) {
    max-height: 280px;
  }

  @include e(checkbox-group) {
    padding: 10px;

    label.el-checkbox {
      display: block;
      margin-right: 5px;
      margin-bottom: 8px;
      margin-left: 5px;
    }

    .el-checkbox:last-child {
      margin-bottom: 0;
    }
  }
}
