@import "mixins/mixins";
@import "checkbox";
@import "tag";
@import "tooltip";
@import "common/var";

@include b(table) {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: 100%;

  font-size: 14px;


  @include themify($themes) {
    background-color: themed('background-color');
    color: themed('table-text-color');
  }

  // 数据为空
  @include e(empty-block) {
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include e(empty-text) {
    width: 50%;
    @include themify($themes) {
      color: themed('color-text-regular');
    }
  }

  // 展开行
  @include e(expand-column) {
    .cell {
      padding: 0;
      text-align: center;
    }
  }

  @include e(expand-icon) {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    transition: transform 0.2s ease-in-out;
    height: 20px;

    @include themify($themes) {
      color: themed('color-text-regular');
    }

    @include m(expanded) {
      transform: rotate(90deg);
    }

    > .el-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
    }
  }

  @include e(expanded-cell) {
    @include themify($themes) {
      background-color: themed('background-color');
    }

    // 纯属为了增加权重
    &[class*=cell] {
      padding: 20px 50px;
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  @include m(fit) {
    border-right: 0 !important;
    border-bottom: 0 !important;

    th.gutter, td.gutter {
      border-right-width: 1px;
    }
  }

  @include m(scrollable-x) {
    .el-table__body-wrapper {
      overflow-x: auto;
    }
  }

  @include m(scrollable-y) {
    .el-table__body-wrapper {
      overflow-y: auto;
    }
  }

  thead {
    @include themify($themes) {
      color: themed('table-header-color');
    }

    font-weight: 500;

    &.is-group {
      th {
        @include themify($themes) {
          background: themed('background-color');
        }
      }
    }
  }

  th, td {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left;

    @include when(center) {
      text-align: center;
    }

    @include when(right) {
      text-align: right;
    }

    &.gutter {
      width: 15px;
      border-right-width: 0;
      border-bottom-width: 0;
      padding: 0;
    }

    &.is-hidden {
      > * {
        visibility: hidden;
      }
    }
  }

  @include m(medium) {
    th, td {
      padding: 10px 0;
    }
  }

  @include m(small) {
    font-size: 12px;
    th, td {
      padding: 8px 0;
    }
  }

  @include m(mini) {
    font-size: 12px;
    th, td {
      padding: 6px 0;
    }
  }

  tr {
    @include themify($themes) {
      background-color: themed('background-color');
    }

    input[type="checkbox"] {
      margin: 0;
    }
  }

  th.is-leaf {
    @include themify($themes) {
      border-bottom: themed('table-border');
    }
  }

  td {
    @include themify($themes) {
      border-bottom: 1px solid rgba(themed('table-border-color'), 0.6);
    }
  }

  &[dashed] td {
    @include themify($themes) {
      border-bottom: 1px dashed rgba(themed('table-border-color'), 0.6);
    }
  }

  th.is-sortable {
    cursor: pointer;
  }

  th {
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    @include themify($themes) {
      background-color: themed('table-header-background');
    }

    div {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 40px;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .cell {
      position: relative;
      word-wrap: normal;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      box-sizing: border-box;

      &.highlight {
        @include themify($themes) {
          color: themed('color-primary');
        }
      }
    }

    &.required > div::before {
      display: inline-block;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;
      vertical-align: middle;
      @include themify($themes) {
        background: themed('color-danger');
      }
    }
  }

  td {
    div {
      box-sizing: border-box;
    }

    &.gutter {
      width: 0;
    }
  }

  .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;

    &.el-tooltip {
      white-space: nowrap;
      min-width: 50px;
    }
  }

  // 拥有多级表头
  @include m((group, border)) {
    @include themify($themes) {
      border: themed('table-border');
    }

    @include share-rule(border-pseudo) {
      content: '';
      position: absolute;
      z-index: 1;
      @include themify($themes) {
        background-color: themed('table-border-color');
      }
    }

    // 表格右部伪 border
    &::after {
      @include extend-rule(border-pseudo);
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
    }
  }

  // 表格底部伪 border，总是有的
  &::before {
    @include extend-rule(border-pseudo);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
  }

  // table--border
  @include m(border) {
    border-right: none !important;
    border-bottom: none !important;

    &.el-loading-parent--relative {
      @include themify($themes) {
        border-color: transparent;
      }
    }

    th, td {
      @include themify($themes) {
        border-right: themed('table-border');
      }

      &:first-child .cell {
        padding-left: 10px;
      }
    }

    th.gutter:last-of-type {
      @include themify($themes) {
        border-bottom: themed('table-border');
      }
      border-bottom-width: 1px;
    }

    & th {
      @include themify($themes) {
        border-bottom: themed('table-border');
      }border-bottom: $--table-border;
    }
  }

  @include m(hidden) {
    visibility: hidden;
  }

  @include e((fixed, fixed-right)) {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    @include themify($themes) {
      box-shadow: themed('table-fixed-box-shadow');
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      z-index: 4;
      @include themify($themes) {
        background-color: themed('table-border-color');
      }
    }
  }

  @include e(fixed-right-patch) {
    position: absolute;
    top: -1px;
    right: 0;

    @include themify($themes) {
      background-color: themed('background-color');
      border-bottom: themed('table-border');
    }
  }

  @include e(fixed-right) {
    top: 0;
    left: auto;
    right: 0;

    .el-table__fixed-header-wrapper,
    .el-table__fixed-body-wrapper,
    .el-table__fixed-footer-wrapper {
      left: auto;
      right: 0;
    }
  }

  @include e(fixed-header-wrapper) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
  }

  @include e(fixed-footer-wrapper) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;

    & tbody td {
      @include themify($themes) {
        border-top: themed('table-border');
        background-color: themed('table-row-hover-background');
        color: themed('table-text-color');
      }
    }
  }

  @include e(fixed-body-wrapper) {
    position: absolute;
    left: 0;
    top: 37px;
    overflow: hidden;
    z-index: 3;
  }

  @include e((header-wrapper, body-wrapper, footer-wrapper)) {
    width: 100%;
  }

  @include e(footer-wrapper) {
    margin-top: -1px;
    td {
      @include themify($themes) {
        border-top: themed('table-border');
      }
    }
  }

  @include e((header, body, footer)) {
    table-layout: fixed;
    border-collapse: separate;
  }

  @include e((header-wrapper, footer-wrapper)) {
    overflow: hidden;

    & tbody td {
      @include themify($themes) {
        background-color: themed('table-row-hover-background');
        color: themed('table-text-color');
      }
    }
  }

  @include e(body-wrapper) {
    overflow: hidden;
    position: relative;

    @include when(scrolling-none) {
      ~ .el-table__fixed,
      ~ .el-table__fixed-right {
        box-shadow: none;
      }
    }

    @include when(scrolling-left) {
      ~ .el-table__fixed {
        box-shadow: none;
      }
    }

    @include when(scrolling-right) {
      ~ .el-table__fixed-right {
        box-shadow: none;
      }
    }

    .el-table--border {
      @include when(scrolling-right) {
        ~ .el-table__fixed-right {
          @include themify($themes) {
            border-left: themed('table-border');
          }
        }
      }

      @include when(scrolling-left) {
        ~ .el-table__fixed {
          @include themify($themes) {
            border-right: themed('table-border');
          }
        }
      }
    }
  }

  .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
  }

  .sort-caret {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    position: absolute;
    left: 7px;

    &.ascending {
      @include themify($themes) {
        border-bottom-color: themed('color-text-placeholder');
      }
      top: 5px;
    }

    &.descending {
      @include themify($themes) {
        border-top-color: themed('color-text-placeholder');
      }
      bottom: 7px;
    }
  }

  .ascending .sort-caret.ascending {
    @include themify($themes) {
      border-bottom-color: themed('color-text-primary');
    }
  }

  .descending .sort-caret.descending {
    @include themify($themes) {
      border-top-color: themed('color-text-primary');
    }
  }

  .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  @include m(striped) {
    & .el-table__body {
      & tr.el-table__row--striped {
        td {
          @include themify($themes) {
            background: themed('table-striped-background');
          }
        }

        &.current-row td {
          @include themify($themes) {
            background-color: themed('table-current-row-background');
          }
        }
      }
    }
  }

  @include e(body) {
    tr.hover-row {
      &, &.el-table__row--striped {
        &, &.current-row {
          > td {
            @include themify($themes) {
              background-color: themed('table-current-row-background');
            }
          }
        }
      }
    }

    tr.current-row > td {
      @include themify($themes) {
        background-color: themed('table-current-row-background');
      }
    }
  }

  @include e(column-resize-proxy) {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 10;

    @include themify($themes) {
      border-left: themed('table-border');
    }
  }

  @include e(column-filter-trigger) {
    display: inline-block;
    line-height: 34px;
    cursor: pointer;

    & i {
      @include themify($themes) {
        color: themed('color-text-regular');
      }
      font-size: 12px;
      transform: scale(.75);
    }
  }

  @include m(enable-row-transition) {
    .el-table__body td {
      transition: background-color .25s ease;
    }
  }

  @include m(enable-row-hover) {
    .el-table__body tr:hover > td {
      @include themify($themes) {
        background-color: themed('table-row-hover-background');
      }
    }
  }

  @include m(fluid-height) {
    .el-table__fixed,
    .el-table__fixed-right {
      bottom: 0;
      overflow: hidden;
    }
  }
}
