@import 'var';

$color-white: #fff;
$color-black: #000;

// dark colors
$dark-system-l0-color: #0c0c0c;
$dark-app-l1-color: #181818;
$dark-tile-l2-color: #242424;
$dark-text-color: #f2f2f2;
$dark-gray-color: #767676;
$dark-link-blue-color: #33a3ff;
$dark-green-color: #288964;
$dark-yellow-color: #dcaf00;
$dark-orange-color: #e66e19;
$dark-red-color: #dc2d37;
$dark-blue-color: #0082f0;
$dark-purple-color: #8e45b0;
$dark-color-primary: $dark-blue-color;
$dark-color-primary-light-1: mix($color-white, $dark-color-primary, 10%);
$dark-color-primary-light-2: mix($color-white, $dark-color-primary, 20%);
$dark-color-primary-light-3: mix($color-white, $dark-color-primary, 30%);
$dark-color-primary-light-4: mix($color-white, $dark-color-primary, 40%);
$dark-color-primary-light-5: mix($color-white, $dark-color-primary, 50%);
$dark-color-primary-light-6: mix($color-white, $dark-color-primary, 60%);
$dark-color-primary-light-7: mix($color-white, $dark-color-primary, 70%);
$dark-color-primary-light-8: mix($color-white, $dark-color-primary, 80%);
$dark-color-primary-light-9: mix($color-white, $dark-color-primary, 90%);
$dark-color-success: $dark-green-color;
$dark-color-warning: $dark-yellow-color;
$dark-color-danger: $dark-red-color;
$dark-color-info: $dark-gray-color;
$dark-color-success-light: mix($color-white, $dark-color-success, 80%);
$dark-color-warning-light: mix($color-white, $dark-color-warning, 80%);
$dark-color-danger-light: mix($color-white, $dark-color-danger, 80%);
$dark-color-info-light: mix($color-white, $dark-color-info, 80%);
$dark-color-success-lighter: mix($color-white, $dark-color-success, 90%);
$dark-color-warning-lighter: mix($color-white, $dark-color-warning, 90%);
$dark-color-danger-lighter: mix($color-white, $dark-color-danger, 90%);
$dark-color-info-lighter: mix($color-white, $dark-color-info, 90%);
$dark-color-text-primary: $dark-text-color;
$dark-color-text-regular: rgba($dark-text-color, 0.6);
$dark-color-text-secondary: $dark-gray-color;
$dark-color-text-placeholder: #474747;
$dark-link-color: $dark-link-blue-color;
$dark-link-hover-color: $dark-color-primary;
$dark-background-color: $dark-tile-l2-color;
$dark-border-color-base: #4e4e4e;
$dark-border-color-light: #e4e7ed;
$dark-border-color-lighter: #ebeef5;
$dark-border-color-extra-light: #f2f6fc;
$dark-border-color-hover: #696969;
$dark-border-base: $--border-width-base $--border-style-base $dark-border-color-base;
$dark-box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$dark-box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
$dark-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$dark-fill-base: $color-white;
$dark-font-color-disabled-base: $dark-color-text-placeholder;
$dark-disabled-fill-base: #2C2C2C;
$dark-disabled-color-base: #747474;
$dark-disabled-border-base: $dark-border-color-base;
$dark-icon-color: #666;
$dark-icon-color-base: $dark-color-info;

// light colors
$light-system-l0-color: #0c0c0c;
$light-app-l1-color: #e0e0e0;
$light-tile-l2-color: #f2f2f2;
$light-text-color: #242424;
$light-gray-color: #767676;
$light-link-blue-color: #33a3ff;
$light-green-color: #34b07f;
$light-yellow-color: #f2c618;
$light-orange-color: #f78521;
$light-red-color: #f52323;
$light-blue-color: #0082f0;
$light-purple-color: #a56ebe;
$light-color-primary: $light-blue-color;
$light-color-primary-light-1: mix($color-white, $light-color-primary, 10%);
$light-color-primary-light-2: mix($color-white, $light-color-primary, 20%);
$light-color-primary-light-3: mix($color-white, $light-color-primary, 30%);
$light-color-primary-light-4: mix($color-white, $light-color-primary, 40%);
$light-color-primary-light-5: mix($color-white, $light-color-primary, 50%);
$light-color-primary-light-6: mix($color-white, $light-color-primary, 60%);
$light-color-primary-light-7: mix($color-white, $light-color-primary, 70%);
$light-color-primary-light-8: mix($color-white, $light-color-primary, 80%);
$light-color-primary-light-9: mix($color-white, $light-color-primary, 90%);
$light-color-success: $light-green-color;
$light-color-warning: $light-yellow-color;
$light-color-danger: $light-red-color;
$light-color-info: $light-gray-color;
$light-color-success-light: mix($color-white, $light-color-success, 80%);
$light-color-warning-light: mix($color-white, $light-color-warning, 80%);
$light-color-danger-light: mix($color-white, $light-color-danger, 80%);
$light-color-info-light: mix($color-white, $light-color-info, 80%);
$light-color-success-lighter: mix($color-white, $light-color-success, 90%);
$light-color-warning-lighter: mix($color-white, $light-color-warning, 90%);
$light-color-danger-lighter: mix($color-white, $light-color-danger, 90%);
$light-color-info-lighter: mix($color-white, $light-color-info, 90%);
$light-color-text-primary: $light-text-color;
$light-color-text-regular: #606266;
$light-color-text-secondary: $light-gray-color;
$light-color-text-placeholder: #c0c4cc;
$light-link-color: $light-link-blue-color;
$light-link-hover-color: $light-color-primary;
$light-background-color: #f5f7fa;
$light-border-color-base: #dcdfe6;
$light-border-color-light: #e4e7ed;
$light-border-color-lighter: #ebeef5;
$light-border-color-extra-light: #f2f6fc;
$light-border-color-hover: $light-color-text-placeholder;
$light-border-base: $--border-width-base $--border-style-base $light-border-color-base;
$light-box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$light-box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
$light-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$light-fill-base: $color-white;
$light-font-color-disabled-base: #bbb;
$light-disabled-fill-base: $light-background-color;
$light-disabled-color-base: $light-color-text-placeholder;
$light-disabled-border-base:$light-border-color-light;
$light-icon-color: #666;
$light-icon-color-base: $light-color-info;
